header{
    background-image: url("C:/Users/PRINCESS/Desktop/cess/WhatsApp Image 2024-08-29 at 20.23.22_b8ee3864.jpg");
    font-size: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
header a:hover{
    text-decoration: underline;
}
.nav{
    text-align: center;
    margin: 10px;
    padding:5px ;
}
.menu{
    margin:40px;
    font-size: 20px;
    color:rgb(95, 34, 34);
}
.reg{
    float:right;
    border-radius: 15px;
    background-color: bisque;
}
header img{
 padding: 5px;
 margin:10px;
}
h1{
    text-align: center;
    color:black
}
body{
    margin:0;
    padding: 0;
}
h3{
    text-align: center;
    color: rgb(139, 94, 27);
}
.home{
    background-image: url("C:/Users/PRINCESS/Desktop/cess/WhatsApp Image 2024-08-29 at 20.23.22_b8ee3864.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    
}